$scroll_icon_color: $c_yellow;

.scroll-indicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1100;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    background: $c_pink;
    box-shadow: $shadow;
    transition: transform .3s ease, opacity .3s ease .1s, visibility .3s .1s;

    &--hidden {
        opacity: 0;
        transform: translate(-50%, 10px);
        visibility: hidden;
    }
}

.scroll-arrows {
    width: 22px;
    height: 22px;
    fill: $c_yellow;
    animation: arrowsAnimation 2s ease infinite;

    &__first {
        transform: translateY(-1px);
    }
    
    &__second {
        transform: translateY(1px);
    }
}

@keyframes arrowsAnimation {
    0%, 20%, 80%, 100% { transform: translateY(0) scaleY(1); }
    40% { transform: translateY(-6px) scaleY(1.05); }
    50% { transform: translateY(3px) scaleY(0.9); }
    60% { transform: translateY(-3px) scaleY(1); }
}