.modal-container .modal .modal-content .form-wrap {
    .forgot-password {
        .form-element {
            width: calc(100% - 20px);
        }
    }
}

.forgot-password-link {
    color: $c_pink;
    font-family: $font_headings;
    @include fontSize(15px);
    background: transparent;
    appearance: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    line-height: 1.3;

    &:hover {
        color: darken($c_pink, 2%);
    }

    @include break(580) {
        @include fontSize(14px);
    }
}