.pirat-skibet-logo {
    width: 100%;
	height: 100%;
	display: block;

    .st0{fill:#231F20;}
	.st1{fill:#FFFFFF;}
	.st2{opacity:0.32;clip-path:url(#SVGID_2_);}
	.st3{clip-path:url(#SVGID_4_);fill:#231F20;}

	clipPath use {
		overflow: visible;
	}
}