$reset_padding: 50px;
$reset_padding_small: 20px;

.reset-password {
    padding: 120px 0 50px;
    min-height: calc(100vh - #{$navigation_height});
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include break($navigation_break-small) {
        min-height: calc(100vh - #{$navigation_height-mobile});
    }

    > .fieldset {
        background: $white;
        width: 600px;
        max-width: 90%;
        background: $white;
    }

    .form-content {
        padding: $reset_padding;

        @include break(600) {
            padding: $reset_padding_small;
        }
    }

    .form-element {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .modal-header {
        background: #D6D9DC;
        height: 80px;
        width: 100%;
        padding: 0 $reset_padding;
        display: flex;
        align-items: center;
        font-family: $font_headings;
        @include setFontSize(22px, 20px, 18px);

        @include break(600) {
            padding: 0 $reset_padding_small;
            height: 60px;
        }
    }

    .modal-footer {
        background: #D6D9DC;
        height: 80px;
        padding: 0 $reset_padding;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        @include break(600) {
            padding: 0 $reset_padding_small;
            height: 60px;

            .button {
                padding: 13px 25px;
            }
        }
    }

    &--logged-in {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &__content {
            text-align: center;
        }
    
        &__title {
            @include setFontSize(40px, 30px, 20px);
            font-family: $font_headings;
            color: $c_yellow;
            max-width: 500px;
            line-height: 1.2;
            margin-bottom: 40px;
        }
    }
}