
@import "~react-toastify/dist/ReactToastify.css";

.Toastify__toast-body {
  display: flex;

  i {
    font-style: normal;
    font-size: 1.8rem;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  span {
    padding: 10px;
    font-size: 1.1rem;
    line-height: 1.3;
    display: flex;
    align-items: center;
  }
}