.course-wrap {
    $self: &;
    position: relative;

    @for $i from 0 through 2 {
        &--#{ $i } {
            padding: 80px 0;

            ~ #{ $self }--#{ $i } {
                padding-top: 0;
                margin-top: -40px;
            }

        }
    }

    &--active {
        z-index: 2;
    }
}

.course-resource-links-wrapper + .course-wrap {
    padding-top: 40px;
}
