.aspect-ratio {
    &__inside {
        position: relative;
        width: 100%;
        height: 0;

        > iframe,
        > div,
        > img,
        > video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        > div {
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}