@import "clearfix";
@import "excerpt";
@import "list-menu";
@import "breakpoints";
@import "font-size";
@import "time-of-day";
@import "text-ellipsis";

$br: 2px;
$prim-trans: all .2s ease;
$border: 1px solid $c-border;

$shadow: 0px 6px 15px rgba(0,0,0,0.08);
$sub-menu-shadow: 0px 6px 10px rgba(0,0,0,0.18);