$admin_top-nav_height: 61px;
$admin_side-nav_width: 300px;
$admin_dashboard_padding: 3%;
$admin_sidebar_shadow: 0 0 20px -10px rgba(0,0,0,0.16);
$admin_content_shadow: 0 0 20px -15px rgba(0,0,0,0.16);