$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white: #ffffff;

$c_pink: #EC008C;
$c_yellow: #FFF200;
$c_blue: #00AEEF;
$c_grey: #D6D9DC;
$c_dark_grey: #808080;
$c_error: rgb(255, 50, 50);
$c_success: #2ECC71;
$c_prim: $c_blue;

$sky: #6dcff6;
$sky-at-night: #162934;

$c_water_surface: #009DD7;
$c_water_middle: #0080A7;
$c_water_deep: #005B67;

$c-border: #95989A;
$c-border-light: #E8E8E8;
$c-border-input: #BFBFBF;

$c-text: #4D4F5C;
$c-text-grey: rgba(#454F63, .5);
$c-text-lightgrey: #DBDBDB;
$c-text-select: #808080;
$c-text1: #808495;
$c-text2: #C6C6C6;
$c-text3: #DBDBDB;
$c-text4: #494F75;
$c-text5: #30392F;

$fc_prim: #333;

$paper_color: #f7f3e9;