$navigation_height: 140px;
$navigation_height-scrolled: 80px;
$navigation_height-mobile: 60px;

$logo_height: $navigation_height;
$logo_height-scrolled: 120px;
$logo_height-mobile: 80px;

$navigation_break-medium: 1300;
$navigation_break-small: 1150;