/* FONT FAMILIES */
$font_primary: 'Lato', sans-serif;
$font_headings: 'Bungee', cursive;

/* FONT SIZES */
$fs_prim: 16px;

$fs_h1: 40px;
$fs_h2: 32px;
$fs_h3: 28px;
$fs_h4: 24px;
$fs_h5: 22px;
$fs_h6: 22px;

/* FONT SIZES MEDIUM */
$fs_h1-medium: 34px;
$fs_h2-medium: 28px;
$fs_h3-medium: 26px;
$fs_h4-medium: 24px;
$fs_h5-medium: 22px;
$fs_h6-medium: 20px;

/* FONT SIZES SMALL */
$fs_h1-small: 28px;
$fs_h2-small: 22px;
$fs_h3-small: 20px;
$fs_h4-small: 18px;
$fs_h5-small: 18px;
$fs_h6-small: 16px;

/* LINE HEIGHTS */
$lh_headings: 1.35;
$lh_p: 1.5;

/* FONT WEIGHTS */
$fw_light: 300;
$fw_regular: 400;
$fw_semi: 600;
$fw_bold: 700;
$fw_extrabold: 800;