.react-tenor {
    border: none !important;

    &--search {
        &:focus {
            box-shadow: none !important;
        }
    }

    &--spinner {
        top: 13px !important;
        right: -22px !important;
    }

    &--suggestions {
        button {
            background: $c_pink !important;
            color: $c_yellow !important;

            &:focus {
                box-shadow: 0 0 2px 2px $c_pink !important;
            }
        }
    }
}

#tenor-palette {
    top: 15px !important;
    margin-bottom: 100px;

    .react-tenor--search-bar {
        input {
            border: none;
        }
    }

    .react-tenor--results {

    }


    .react-tenor--result {
        border: 4px solid;
        border-color: $c_grey;

        &:hover{
            opacity: 0.9;
            border-color: $c_blue;
        }

    }

}