.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    flex-wrap: wrap;

    h2 {
        text-transform: uppercase;
        margin: 0 20px 0 0;
    }

    a {
        font-weight: $fw_semi;
        text-decoration: none;
        color: $fc_prim;
        @include setFontSize(20px, 18px, 16px);
        margin: 10px 0;

        &:hover {
            color: $c_pink;
        }
    }
}